*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 body{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: white;
}
#sidebar{
    background-color:white;
    width: 250px;
    height: 100vh;
    padding: 5px;
    position: sticky;
    top: 0%;
    align-self: start;
}
#sidebar ul{
    list-style-type: none;
    padding: 20px;
    
}

#sidebar ul li{
    margin-bottom: 10px;
    text-decoration: none;
}

#sidebar a{
    color: black;
    text-decoration: none;
    padding: 0.85em;
    gap: 1e m;
} 
#sidebar > ul > li:nth-child(8) {
    margin-top: 35vh;
    text-shadow: #f0f0f0;
}
#sidebar > ul > li {
    margin-top: 15px;
}
.search
{
    width: 81vw;
    display: flex;
    align-items: center;
       padding: 14px;
       background-color: white;

}
.search .kk {
    align-items: end;
}
.searchinput{
    font-size: 16px;
    flex:1 ;
    width: 60vw;
    margin-left: 14px;
    outline: none;
    border: none;
   

}

.content{
    width: 90vw;
    height:100vh;
    background-color:#EEEE;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;

}
.manage{
    width: 55em;
      background-color: white;
    height: 85%;
    border-radius: 10px;
    
    
}
.card13{
    width: 80%;
    height: 150px;
  
    background-color:#ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
  
    gap: 20px;
}
.card12{
    width: 80%;
    padding-left: 5%;
    height: 150px;
    margin-top: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    gap: 20px;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: white;
    color: #1570EF;
    border-color: #1570EF;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
}
.btn1{
    width: 100px;
    height: 30px;
    background-color: #1570EF;
    color: white;
    border-color: #1570EF;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 42em;
    margin-top: 10px;
}
.mar{
display: flex;
}
.mM{
    position: sticky;top: 0;
}